.form
  ul.tab-group
    li.tab.active
      a(href='#signup') Sign Up
    li.tab
      a(href='#login') Log In
  .tab-content
    #signup
      h1 Sign Up for Free
      form(action='/', method='post')
        .top-row
          .field-wrap
            label
              | First Name
              span.req *
            input(type='text', required='', autocomplete='off')
          .field-wrap
            label
              | Last Name
              span.req *
            input(type='text', required='', autocomplete='off')
        .field-wrap
          label
            | Email Address
            span.req *
          input(type='email', required='', autocomplete='off')
        .field-wrap
          label
            | Set A Password
            span.req *
          input(type='password', required='', autocomplete='off')
        button.button.button-block(type='submit') Get Started
    #login
      h1 Welcome Back!
      form(action='/', method='post')
        .field-wrap
          label
            | Email Address
            span.req *
          input(type='email', required='', autocomplete='off')
        .field-wrap
          label
            | Password
            span.req *
          input(type='password', required='', autocomplete='off')
        p.forgot
          a(href='#') Forgot Password?
        button.button.button-block Log In
  // tab-content
// /form
