extends layout

block content   

  .row.primary-content
    h1.text-xs-center Guestbook
    div.logo
      img(src="images/guestbook-icon.png")
    p.text-xs-center
      a(href="/guestbook/addnote").form-toggler Add note 
    .row.guestlist-container.text-xs.center
      .col-xs-12.col-md-5.col-lg-3(ng-repeat="note in notes.reverse() | limitTo: page*5")
        p.guest-date {{note.date}}
        div.guest-info.text-xs-center
          a(href="/guestbook/note/{{note._id}}")
            img.guest-img(src="{{note.avatar}}")
            h3.guest-name {{note.username}}
        p.guest-message {{note.message}}
        a(href="/guestbook/note/remove/{{note._id}}" ng-if="user.nickname === note.username || user.username === note.username")
          i.fa.fa-trash
    button(ng-if="page < maxpages" ng-click="loadMore()" class="btn btn-primary btn-block mt-2") Load more ...
  
