extends layout

block content
  .row.mt-3.image-gallery
    .col-lg-4.bg-faded
      img(src="images/food.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .col-lg-4.bg-faded
      img(src="images/shoes.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .col-lg-4.bg-faded
      img(src="images/camera.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .col-lg-4.bg-faded
      img(src="images/dirtscoop.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .col-lg-4.bg-faded
      img(src="images/beach.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .col-lg-4.bg-faded
      img(src="images/icecream.jpg")
      .overlay
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.         
