extends layout

block content
      
      div.landing-page
        nav
          a(href="/login") Login with Auth 0 
          a(href="/localLogin") Log in
          a(href="/signup") Sign up
        span.landing-header The Guestbook

          



          
