extends layout

block content
      
      div.landing-page
        nav
          a(href="/login") Log in
          a(href="#") Sign up
        span.landing-header The Guestbook

          



          
