extends layout

block content
      
      div.landing-page
        nav
          a(href="/auth0_login") Auth0 
          a(href="/local_login") Login
          a(href="/regist") Register
        //- span.landing-header The Guestbook
        include local_login
      //- include partials/login-register
          



          
