doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")
    
    nav.navbar
      .container.text-xs-right
        .col-lg-8
          a.navbar-brand(href='/guestbook') Guestbook
          if !user
            ul.nav.navbar-nav
              li.nav-item
                a.nav-link(href='/') Home            
              li.nav-item
                a.nav-link(href='/local_login') Login
              li.nav-item
                a.nav-link(href='/local_signup') Sign Up 
              li.nav-item
                a.nav-link(href='/auth0_login') Auth0
        .col-xs-4
          if user
            a(href="/").mx-1 Home
            a(href="/guestbook/logout") Logout
            img(src="#{user.picture}")
            
    != messages()        
    div.container.content-wrapper
      block content
    .footer
      a(href="https://github.com/jmdelcarmen" target="blank")
        i.fa.fa-github
      a(href="https://www.facebook.com/jesusmarco.delcarmen" target="blank")
        i.fa.fa-facebook
      a(href="https://twitter.com/Macoyfish" target="blank")
        i.fa.fa-twitter
      p &copy; 2016 J.M. Dev
