extends layout

block content
  form(method="post" action="local_login").col-xs-4
    input.form-control(type="text" placeholder="Username" name="username" required)
    input.form-control(type="password" placeholder="Password" name="password" required)
    button.btn.btn-primary(type="submit") Login
    
  form(method="post" action="local_register" enctype="multipart/form-data").col-xs-4
    input.form-control(type="text" placeholder="Username" name="username" required)
    input.form-control(type="password" placeholder="Password" name="password" required)
    input.form-control(type="email" placeholder="Email" name="email" required)
    .form-group
      label Profile Image
      input(type="file" name="profileImage" class="form-control")
    button.btn.btn-primary(type="submit") Register
