extends layout

block content


    .row
     div.form-wrapper
      h3.form-header Sign up
      form#formAddUser(name="signup", method="post", action="/signup")
          input#inputUserName(type="text", placeholder="Username", name="username")
          input#inputPassword(type="password", placeholder="password", name="password")
          button#btnSubmit(type="submit") Submit 
