body {
  background: #05232E;
}

.container {
  width: 90% !important;
}

a, a:hover, a:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

/****************NAVBAR STYLES********************/
.navbar a {
  color: #444;
}

.navbar-brand {
  display: inline-block;
  border: 2px solid #444;
  padding: .25em;
  color: #fff !important;
  text-transform: uppercase;
  background: linear-gradient(90deg, #EA655B 50%, #75332E 50%);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.navbar img {
  margin-left: 10%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #444;
}
















/**********************************/

button:hover {
  cursor: pointer;
}

.logout, .form-toggler, .landing-page nav a {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid white;
  transition: .3s;
}


.logout:hover, .form-toggler:hover {
  background: white;
  color: #444;
  box-shadow: 0 0 6px black;
}

.logo {
  padding-top: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  margin-bottom: 1em;
}

img[src*="guestbook"] {
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

.primary-content {
  padding: 2em;
  margin-top: 2em;
  border-radius: 4px;
  border: 15px solid rgba(0,0,0,0.5);
  background: #ea655b;
}

.guestlist-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.col-xs-12 {
  background: #247291;
  color: white;
  flex-grow: 1;
  padding: .5em;
  border-radius: 3px;
  border: 3.5px solid rgba(255, 255, 255, 0.6);
  margin: 1% .5%;
}

.guest-info {
  position: relative;
}

.guest-date {
  color: #444;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: .75em;
  padding: 5px 8px;
  background: #F8DA5B;
  border-radius: 2px;
  border: 2px solid #444;
}

.guest-img {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .6);
  margin: 0 auto;
  padding: 0;
  transition: .3s;
}

.guest-img:hover {
  transform: scale(1.2);
}

.guest-name {
  text-align: center;
  font-size: .95em;
  margin-left: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  color: ivory;
  transition: .4s;
}

.guest-name:hover {
  color: rgba(255, 255, 255, .3);
}

.guest-message {
  font-size: 13px;
  margin: 0 auto;
  width: 95%;
  min-height: 100px;
  margin-bottom: 3em;
  background: rgba(0, 0, 0, 0.3);
  padding: .7em;
}

.fa-trash {
  position: absolute;
  bottom: -3px;
  right: 0px;
  font-size: 1.25em;
  padding: 10px;
  color: rgba(0, 0, 0, 0.75);
}

.fa-trash:hover {
  color: rgba(255, 255, 255, 0.75);
}


/*************************USER MESSAGE FORM**************************/

.form-wrapper{
  width: 95%;
  max-width: 400px;
  margin-top: 2em;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1.5em;
  background: #f1f1f1;
  position: relative;
}

.form-header {
  color: #E88024;
  padding-top: .5em;
}

#formAddUser {
  display: flex;
  flex-flow: row wrap;
}

#formAddUser input, textarea  {
  height: 45px;
  width: 100%;
  padding: .75em;
  border: 2px solid rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  margin: .7em 0;
  color: rgba(0, 0, 0, 0.75);
}

textarea {
  height: 180px;
}

button#btnSubmit {
  height: 35px;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  border: 3px solid rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  color: ivory;
  background: #00CCFF;
}

.fa-close {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 5px 10px 5px 20px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 2em;
  background: #f1f1f1;
  border-radius: 3px;
  transition: all .4s;
}

.fa-close:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}


/*************************USER LOGIN & REGISTER FORM**************************/

.bg-wrapper {
  position: relative;
  top: 0;
  right: 0;
}

.login, .signup {
  position: absolute;
  top: 80px;
  right: 33%;
  left: 33%;
  background: #4cabb2;
  color: #fff;
  padding: 0;
  border: 2px solid #444;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 2em;
}

.login h3, .signup h3 {
  background: #444;
  text-align: center;
  padding: 1em;
  border-bottom: 5px solid #f1f1f1;
  font-weight: bold;
  color: #f1f1f1;
}

.form-group {
  margin: 0;
  background: #444;
  color: #f1f1f1;
  padding: .75em .5em .5em;
}

.login input, .signup input {
  margin-left: 1em;
  width: 70%;
  background: none;
  padding: .2em .5em;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  color: #eee;
}

.register input[type="file"] {
  padding-top: 1em;
  border: none;
  margin: 0 auto;
}

.login button, .signup button {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  background: #1ABC9C;
  margin-top: 10%;
  color: #fff;
  border: 2px solid white;
}

.login button:active, .signup button:active {
  background: #109177;
}
