* {
  box-sizing: border-box;
}

body {
  background: #05232E;
}

.container {
  width: 90% !important;
}

a, a:hover, a:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

/****************NAVBAR STYLES********************/

.navbar a {
  color: #fff !important;
  transition: .4s all;
}

.navbar a:hover {
  opacity: .7;
}

.navbar-brand {
  display: inline-block;
  border: 2px solid #444;
  padding: .25em;
  color: #fff !important;
  text-transform: uppercase;
  background: linear-gradient(90deg, #EA655B 50%, #75332E 50%);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.navbar img {
  margin-left: 10%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #444;
}

/*************HOMEPAGE STYLES*********************/

.landing-container {
  position: absolute;
  top: 35%;
  right: 30%; left: 30%;
  border: 2px solid white;
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
}

.landing-title {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: white;
  width: 100%;
}

/**************FOOTER***************/

.content-wrapper {
  min-height: calc(100vh - 160px);
  position: relative;
}

.footer {
  width: 100%;
  background: #ddd;
  height: 100px;
  text-align: center;
}

.footer i.fa {
  display: inline-block;
  font-size: 2em;
  margin: 30px 10px 0;
  color: black;
}




/**********************************/

button:hover {
  cursor: pointer;
}

.form-toggler {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  border: 2px solid white;
  transition: .3s;
}

.form-toggler:hover {
  background: white;
  color: #444;
  box-shadow: 0 0 6px black;
}

.logo {
  padding-top: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  margin-bottom: 1em;
}

img[src*="guestbook"] {
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

.primary-content {
  padding: 2em;
  margin: 2em 0;
  border-radius: 4px;
  border: 7px solid rgba(0,0,0,0.5);
  background: #ea655b;
}

.guestlist-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.col-xs-12 {
  background: #247291;
  color: white;
  flex-grow: 1;
  padding: .5em;
  border-radius: 3px;
  border: 3.5px solid rgba(255, 255, 255, 0.6);
  margin: 1% .5%;
}

.guest-info {
  position: relative;
}

.guest-date {
  color: #444;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: .75em;
  padding: 5px 8px;
  background: #F8DA5B;
  border-radius: 2px;
  border: 2px solid #444;
}

.guest-img {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .6);
  margin: 0 auto;
  padding: 0;
  transition: .3s;
}

.guest-img:hover {
  transform: scale(1.2);
}

.guest-name {
  text-align: center;
  font-size: .95em;
  margin-left: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  color: ivory;
  transition: .4s;
}

.guest-name:hover {
  color: rgba(255, 255, 255, .3);
}

.guest-message {
  font-size: 13px;
  margin: 0 auto;
  word-wrap: break-word;
  width: 95%;
  min-height: 100px;
  margin-bottom: 3em;
  background: rgba(0, 0, 0, 0.3);
  padding: .7em;
}

.fa-trash {
  position: absolute;
  bottom: -3px;
  right: 0px;
  font-size: 1.25em;
  padding: 10px;
  color: rgba(0, 0, 0, 0.75);
}

.fa-trash:hover {
  color: rgba(255, 255, 255, 0.75);
}


/*************************USER LOGIN & REGISTER FORM**************************/

.bg-wrapper {
  position: relative;
  top: 0;
  right: 0;
}

.login, .signup {
  position: absolute;
  top: 80px;
  right: 33%;
  left: 33%;
  background: #4cabb2;
  color: #fff;
  padding: 0;
  border: 2px solid #444;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 2em;
}

.login h3, .signup h3 {
  background: #444;
  text-align: center;
  padding: 1em;
  border-bottom: 5px solid #f1f1f1;
  font-weight: bold;
  color: #f1f1f1;
}

.form-group {
  margin: 0;
  background: #444;
  color: #f1f1f1;
  padding: .75em .5em .5em;
}

.login input, .signup input {
  margin-left: 1em;
  width: 70%;
  background: none;
  padding: .2em .5em;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  color: #eee;
}

.register input[type="file"] {
  padding-top: 1em;
  border: none;
  margin: 0 auto;
}

.login button, .signup button {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  background: #1ABC9C;
  margin-top: 10%;
  color: #fff;
  border: 2px solid white;
}

.login button:active, .signup button:active {
  background: #109177;
}

textarea {
  height: 45px;
  width: 100%;
  padding: .75em;
  border: 2px solid rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  margin: .7em 0;
  color: rgba(0, 0, 0, 0.75);
  height: 180px;
}

.guestnote {
  position: absolute;
  transition: .4s ease-in-out;
  top: 0;
  right: 0; left: 0;
}

.exit .fa {
  cursor: pointer;
  margin-right: .2em;
}


/**************FLASH STYLES*****************/

ul.success li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #5CB860;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}

ul.info li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #6ABCC2;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}

ul.error li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #D22827;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}
